[bumpr]
file = pyproject.toml
regex = version\s*=\s*"(?P<version>.+?)"
vcs = git
tag_annotation = version {version}
push = true
tests =
    poetry check -n
    poetry build -n
    tox
publish = poetry publish --build -vv -n
clean = poetry run inv clean
files =
    README.md
    bumpr/__about__.py

[bump]
unsuffix = true
message = Self bumped version {version}

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.md
bump = ## {version} ({date:%Y-%m-%d})
prepare = ## Current
separator =

[readthedoc]
id = bumpr

[replace]
dev = ?branch=master
stable = ?tag={version}
