[bumpr]
file = bumpr/__about__.py
vcs = git
tag_annotation = version {version}
push = true
tests = tox
publish = python setup.py register sdist bdist_wheel upload
clean =
    python setup.py clean
    inv clean
files = README.rst

[bump]
unsuffix = true
message = Self bumped version {version}

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.rst
bump = {version} ({date:%Y-%m-%d})
prepare = Current

[readthedoc]
id = bumpr

[replace]
dev = ?branch=master
stable = ?tag={version}
